.watchlist--BLOCK {
  padding: 5rem 3rem;
}

.watchlist--BLOCK .watchlist_header--CONTAINER .watchlict_navigation--BLOCK {
  max-width: 40rem;
  margin: auto;
}

.watchlist--BLOCK .watchlist_header--CONTAINER .watchlict_navigation--BLOCK .watchlict_navigation_content--WRAPPER .watchlist_navigation--BTN {
  position: relative;
  width: 50%;
  padding: 2rem 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  cursor: pointer;
  opacity: 0.3;
}

@media only screen and (max-width: 500px) {
  .watchlist--BLOCK .watchlist_header--CONTAINER .watchlict_navigation--BLOCK .watchlict_navigation_content--WRAPPER .watchlist_navigation--BTN {
    font-size: 1.7rem;
  }
}

.watchlist--BLOCK .watchlist_header--CONTAINER .watchlict_navigation--BLOCK .watchlict_navigation_content--WRAPPER .watchlist_navigation--BTN.active_navigation_state {
  pointer-events: none;
  opacity: 1;
}

.watchlist--BLOCK .watchlist_header--CONTAINER .watchlict_navigation--BLOCK .watchlict_navigation_content--WRAPPER .watchlist_navigation--BTN.active_navigation_state::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.watchlist--BLOCK hr {
  margin: 5rem auto;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 80rem;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .error_modal--EL .error_content_block--EL {
  text-align: center;
  color: #eee;
  font-size: 2rem;
  font-weight: 500;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 450px) {
  .watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD {
  max-width: calc(16rem + (200 - 160) * ((100vw - 400px) / (1400 - 400)));
  min-width: calc(16rem + (200 - 160) * ((100vw - 400px) / (1400 - 400)));
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD:hover .remove_from_watchlist--BTN {
  opacity: 1;
  visibility: visible;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .watchlist_show_image--WRAPPER {
  width: 100%;
  aspect-ratio: 0.66;
  background-color: #999;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .watchlist_show_image--WRAPPER:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .watchlist_show_image--WRAPPER img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .watchlist_show_details--CONTAINER {
  color: #fff;
  padding: 1.5rem 0;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .watchlist_show_details--CONTAINER .watchlist_show_title--EL {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .watchlist_show_details--CONTAINER .watchlist_show_categoties--EL {
  color: #ccc;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .remove_from_watchlist--BTN {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  background-color: #e91212;
  cursor: pointer;
  padding: 0.3rem 0;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 750px) {
  .watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .remove_from_watchlist--BTN {
    opacity: 1;
    visibility: visible;
  }
}

.watchlist--BLOCK .watchlist_shows--BLOCK .watchlist_shows_content--CONTAINER .watchlist_show--CARD .remove_from_watchlist--BTN img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 2.8rem;
}
/*# sourceMappingURL=watchlist.module.css.map */